<%-include('../cabecalho.ejs')%>
 <header>
        <h3>Editar Álbum</h3>
      </header>
      <div class="content">
        <form id="form-instrumento" method="post" autocomplete="off" >
          <div class="grid">
            <div>
              <label for="nome">ID do Álbum</label>
              <input id="id" value="<%=album.id%>" name="id" type="text" placeholder="Ex:Gope" required>
            </div>
            <div>
              <label for="nome">Nome do Álbum</label>
              <input id="nome" value="<%=album.nome%>" name="nome" type="text" placeholder="Ex:Gope" required>
            </div>
            <div>
              <label for="nome">Artista do Álbum</label>
              <input id="nome" value="<%=album.artista%>" name="artista" type="text" placeholder="Ex:Gope" required>
            </div>
            <div>
              <label for="nome">Descrição do Álbum</label>
              <input id="nome" value="<%=album.descricao%>" name="descricao" type="text" placeholder="Ex:Gope" required>
            </div>
            <div>
              <label for="nome">Ano de Lançamento do Álbum</label>
              <input id="nome" value="<%=album.anoLanc%>" name="anoLanc" type="text" placeholder="Ex:Gope" required>
            </div>
           <div class="field-help">Os campos com * são obrigatórios.</div>
          <footer>
            <a type="button" class="btn ghost" id="btn-cancelar" href="/album/lst">Cancelar</a>
            <button type="submit" class="btn primary">Editar Álbum</button>
          </footer>
        </form>
      </div>

  <%-include('../rodape.ejs')%>